<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="title" content="{{ title }}">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="Aurélien Martin">

    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">

    {% if meta_type == "article" %}
      <meta property="og:type" content="article">
      <meta property="article:published_time" content="{{ date | date: "%Y-%m-%d" }}">
    {% endif %}

    <link rel="canonical" href="{{ canonical }}">

    <!-- Google tag (gtag.js) -->
    <script
      async
      defer
      src="https://www.googletagmanager.com/gtag/js?id=G-76LL3M8F8E"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-76LL3M8F8E');
    </script>

    <!-- Add favicon -->
    <link rel="icon" type="image/x-icon" href="{{ '/favicon.ico' | url }}">
    <link rel="icon" type="image/svg+xml" href="{{ '/images/favicon.svg' | url }}">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->

    {% comment %} <link rel="stylesheet" href="{{ '/main.css' | url }}"> {% endcomment %}
    <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">

    {%- css %}
      {% include "styles/normalize.css" %}
      {% include "styles/main.css" %}
      {% include "styles/home.css" %}
      {% include "styles/posts.css" %}
      {% include "styles/prism.css" %}
    {% endcss %}

    <title>Aurélien Martin | {{ title }}</title>
  </head>
  <body>
    <div class="page">
      <header>
        <a href="/">Aurélien Martin</a>
        <nav>
          <a href="/">HOME</a>
          <a href="/posts">BLOG</a>
        </nav>
        <img class="cat" src="{{ '/images/cat.svg' | url }}" loading="lazy" width="60" height="60" alt="Cat" />
      </header>

      <main>
        {{ content }}
      </main>
    </div>

    <script>
      const cat = document.querySelector(".cat");
      function animateCat() {
        if (cat.style.transform === "rotate(90deg)") {
          cat.style.transform = "rotate(0deg)";
        } else {
          cat.style.transform = "rotate(90deg)";
        }
      }
      setInterval(animateCat, 1500);
    </script>
  </body>
</html>
