<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ '/main.css' | url }}">
    <title>{{ title }}</title>
    <!-- add SEO meta tags -->
    <meta name="title" content="{{ title }}">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="Aurélien Martin">
  </head>
  <body>
    <div class="page">
      <nav>
        <a href="/">HOME</a>
        <a href="/posts">BLOG</a>
      </nav>

      <main>
        {{ content }}
      </main>
    </div>
  </body>
</html>